.album-page{
    margin-top: 10rem;
}

.photo-mural {
  column-width: 350px;
  column-gap: 1.5rem;
  
}

.photo-card {
  display: inline-block;
  width: 100%;
  margin-bottom: 1.5rem;
  border-radius: 12px;
  background: white;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  color: black;
}

.photo-card img {
  width: 100%;
  height: auto;
  display: block;
  border-bottom: 1px solid #eee;
}

.photo-card:hover {
  transform: translateY(-5px);
}

@media (max-width: 768px) {
  .photo-mural {
    column-count: 1;
  }
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin-top: 1rem;
}

.spinner {
  width: 36px;
  height: 36px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top-color: #333;
  border-radius: 50%;
  animation: spin 0.9s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
