.NavBarBox {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-color: transparent;
}

.LeftIcons {
  display: flex;  
  align-items: center;
  gap: 0.5rem;       
  margin-left: 3%;
  margin-top: 3%;
}

.RightIcons {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-right: 5%;
  margin-top: 3%;
}
