.Work {
  margin-top: 10rem;
}



.WorkCards {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.CardWrapper {
  flex: 1 1 300px; /* cresce e encolhe, largura mínima 300px */
  max-width: 400px;
}